<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="logo">NLP</div>
      <div class="nav">
        <ul>
          <a href="#"><li>About</li></a>
          <a
            href="https://en.wikipedia.org/wiki/Natural_language_processing"
            target="_blank"
          >
            <li>What is NLP?</li>
          </a>
        </ul>
      </div>
    </header>

    <main>
      <div class="content">
        <section class="form-container">
          <div class="main title">
            <h2 class="title">Evaluate News Article with NLP</h2>
          </div>
          <form class="">
            <label class="text">Enter your Article:</label>
            <textarea
              id="text"
              type="textarea"
              name="input"
              value=""
              onblur="onBlur()"
              rows="6"
              placeholder="Enter the text you want to be analyse"
              required
            ></textarea>
            <input
              type="submit"
              name=""
              value="Analyse"
              class="button"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
          </form>
        </section>

        <section id="results">
          <strong class="title">Form Results:</strong>
          <div id="apiresults">
            <div id="agreement"></div>
            <div id="irony"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
          </div>
          <div id="error" class="hide">Insert text for analyse</div>
        </section>
      </div>
    </main>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
